@using System.Diagnostics.CodeAnalysis;
@typeparam TItem

<style>
    table > thead > tr {
        background-color: black;
        color: white;
    }
</style>

<table class="table">
    <thead>
        <tr>
            @foreach (var item in Columns.Split(","))
            {
                <th>@item</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Loading)
        {
            <tr>
                <td colspan="@Columns.Split(",").Length" class="text-center">
                    <LoadingComponent Message="@MessageLoading"></LoadingComponent>
                </td>
            </tr>
        }
        else
        {
            if (DataBind == null || DataBind.Count==0)
            {
                <tr>
                    <td colspan="@Columns.Split(",").Length" class="text-center">@MessageEmpty</td>
                </tr>
            }
            else
            {
                foreach (var item in DataBind)
                {
                    if (RowTemplate is not null)
                    {
                        <tr>
                            @RowTemplate(item)
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>

@code {

    [Parameter, AllowNull]
    public string MessageLoading { get; set; }

    [Parameter, AllowNull]
    public bool Loading { get; set; }

    [Parameter, AllowNull]
    public string MessageEmpty { get; set; }

    [Parameter, AllowNull]
    public string Columns { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }

    [Parameter, AllowNull]
    public IReadOnlyList<TItem> DataBind { get; set; }
}

